body{
	background-color: #000;
	color:#fff;
	padding-top:100px;
}

.navbar-nav li.active a.nav-link{
	background-color:gray;
	border-radius: 6px;
	text-align: center;
}


h1{
	font-family: 'Oswald', sans-serif;
}

@keyframes rotation{
  from{transform: rotateY(0deg);}
  to{transform: rotateY(360deg);}
}


nav a img{
	width:50px;
	height:50px;
	border-radius:50px;
	animation-name: rotation;
	animation-duration: 4s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

footer{
	font-size: 10pt;
	text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

h1{
	font-size: 48pt;
	padding: 10px 40px;
}

main{
	width:80%;
	margin: 0 auto;
}

h2{
	font-size: 32pt;
	font-family: 'Anton', sans-serif;
	padding: 40px 0;
}

p{
	font-size: 20pt;
}

form{
 font-size:16pt;
 width:80%;
 padding: 40px 10%;
}
